{# This is the nunjucks file for the component in development #}

<div>
    {% if mainCard.cardImage %}
        <img class="" src="{{ mainCard.cardImage.src }}" alt="{{ mainCard.cardImage.alt }}" title="{{ mainCard.cardImage.title }}"/>
    {% endif %}
    <h3 class="">{{ mainCard.cardHeading }}</h3>
    {% if mainCard.starRating %}
        {% set stars =  mainCard.starRating %}
        <div class="star-group">
            {% include "partials/components/five-stars.njk" %}
        </div>
    {% endif %}
    <div class="main-content">
        {{ mainCard.cardContent | markdownFilter | safe }}
    </div>
    {% if mainCard.cardButton %}
        <a href="{{ mainCard.cardButton.url }}">
            <button class="">{{ mainCard.cardButton.buttonText }}</button>
        </a>
    {% endif %}

</div>
